---
import "../css/style.css";
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import Dropdown from "../components/Dropdown.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CA akasse T9</title>
	</head>
	<Header></Header>
	<body>
		
		<div class="grid_1-1"> 
			<div> 
				<h1>kampagne title</h1>
				<video src="filnavn.mp4"> </video>
			</div>
		
			<div> 
				<h2>overskrift</h2>
				<p class="kampagne_info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur perspiciatis non et, consequatur corporis autem ducimus eaque magni eius atque optio vero expedita veritatis aspernatur.</p>
				<Dropdown></Dropdown>
			</div>
		</div>

		<div class="box"><a href="https://www.ca.dk/formularer/indmeldelse-ca/" class="bilvMedlem"> Tilmeld her</a></div>
	</body>
	<Footer></Footer>
</html>

<style>
	.blivMedlem{
		padding:20px 40px;
	}
	a{
		color:aliceblue;
		text-align: center;
		width: 200px;
		display: inline-block;
		background-color:red;
		padding: 10px 6px;
		align-items: center;
	}

	.box{
		justify-content: center;
		display: flex;
	}


	@media screen and (min-width: 1000px){
		.grid_1-1{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

}   


</style>