---
import "../css/style.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Dropdown from "../components/Dropdown.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CA akasse - Dit sikkerhedsnet</title>
	</head>
	<body>
		<Header></Header>
		<main>
			<h1>Har du også brug for hjælp?	</h1>
			<div class="grid_1-1"> 
				<div class="flex_i_grid"> 
					<img src="https://khaugaard.dk/video_template_picture.jpg" alt="Billede som illustration på video indhold">
				</div>
			
				<div class="flex_i_grid"> 
					<h2>CA - dit fremtidige sikkerhedsnet</h2>
					<p class="kampagne_info">CA a-kasse har en masse fordele for dig der studerer, og ser en fremtid inden for business eller ønske om at arbejde selvstændigt. Mange tror at en a-kasse først er nødvendig, den dag du skal ud og søge arbejde, men som medlem af CA a-kasse får du som studerende en masse tilbud og fordele du kan benytte i studietiden, samt hjælp til når du en dag skal ud på arbejdsmarkedet.</p>
					<p class="kampagne_info bitbigger">CA - dit sikkerhedsnet</p>
					<Dropdown></Dropdown>
				</div>
			</div>

			<div class="box"><a href="https://www.ca.dk/formularer/indmeldelse-ca/" class="bilvMedlem">Meld dig ind</a></div>
		</main>
		<Footer></Footer>	
	</body>
</html>

<style>

	img{
		margin-top: 40px;
		margin-bottom: 40px;
	}
	
	.blivMedlem{
		padding:20px 40px;
	}

	.flex_i_grid{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.bitbigger{
		font-size: 25px;
		color: var(--secondary-color);
		font-weight: bold;
	}
	a{
		color: white;
		text-align: center;
		width: 220px;
		height: 80px;
		display: inline-block;
		background-color:var(--accent-color);
		margin-bottom:40px;
		text-decoration: none;
		border-radius: 10px;
		padding: 23px 0px;
		font-size: 25px;
		font-family: "Nexa regular";
	}

	a:hover{
		border: 4px solid var(--accent-color);
		color: var(--accent-color);
		background-color: white;
	}

	.box{
		justify-content: center;
		display: flex;
	}

	.kampagne_info{
		max-width: 400px;
	}


	@media screen and (min-width: 1000px){
		.grid_1-1{
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
	}

	img{
		width: 213%;
	}

	.kampagne_info{
		max-width: 550px;
	}

}   


</style>