---
import "../css/style.css";
---

<article class="container">
    <p>Personsdatapolitik</p>
    <p>Cookiepolitik</p>
    <p>Tilgænghedserklæring</p>
</article>

<style>

.container{
        padding-bottom: 10px;
    }

    p{
        cursor:pointer;
        font-size: 22px;
        margin:5px 0;
    }
 
</style>