---
import "../css/style.css";
---
<section>
    <div class="gratis_medlemskab">
        <div class="grid_1-1">
            <div class="col"> 
                <img src="/img/CA-LOGO.svg" alt="Logo">
            </div>
            <div class="col ">
                <h3>Gratis medlemskab</h3>
            </div>
        </div>
        <div class="text_indhold"> 
            <p>Mange tror, at det er dyrt at være med i en a-kasse, og derfor vælger de det fra. Men som studerende får du gratis medlemskab, samt en masse andre fordele.</p>
        </div>
    </div>

    <div class="Dagpenge">
        <div class="grid_1-1">
            <div class="col"> 
                <img src="/img/CA-LOGO.svg" alt="Logo">
            </div>
            <div class="col ">
                <h3>Dagpenge</h3>
            </div>
        </div>
        <div class="text_indhold"> 
            <p>En af de helt store fordele ved at melde sig ind tidligt, er at du optjener anciennitet. Har du været medlem i et år, kan du fra første dag efter færdiggjort studie få udbetalt dagpenge. Hvis du ikke har været medlem et år, skal du vente en måned med dagpenge.
                Den første måned med dagpenge svarer til 14.106 kroner, som du går glip af, hvis du ikke har været studiemedlem i mindst 12 måneder op til uddannelsens afslutning
                </p>
        </div>
    </div>

    <div class="Karriererådgivning">
        <div class="grid_1-1">
            <div class="col"> 
                <img src="/img/CA-LOGO.svg" alt="Logo">
            </div>
            <div class="col ">
                <h3>Karriererådgivning</h3>
            </div>
        </div>
        <div class="text_indhold"> 
            <p>Tiden efter studiet, kan godt være uoverskuelig og måske endda skræmmende, men som medlem af CA a-kasse har vi din ryg og guider dig sikkert ud på arbejdsmarkedet, vi er din fremtidige business partner, på studiet og på arbejdsmarkedet.</p>
        </div>
    </div>

    <div class=" foredrag_og_webinarer">
        <div class="grid_1-1">
            <div class="col"> 
                <img src="/img/CA-LOGO.svg" alt="Logo">
            </div>
            <div class="col ">
                <h3>Online foredrag og webinarer</h3>
            </div>
        </div>
        <div class="text_indhold"> 
            <p>Vores online foredrag og webinarer er studierelevante og kan hjælpe dig til et bedre og nemmere studieliv, samt gøre dig klar til når du skal ud på arbejdsmarkedet.</p>
        </div>
    </div>

    <div class="kurser_og_kompetenceudvikling">
        <div class="grid_1-1">
            <div class="col"> 
                <img src="/img/CA-LOGO.svg" alt="Logo">
            </div>
            <div class="col ">
                <h3>Faglige kurser og kompetenceudvikling</h3>
            </div>
        </div>
        <div class="text_indhold"> 
            <p>Job markedet udvikler sig hele tiden, derfor giver vi dig muligheden for at holde dig opdateret, mens du studerer. Bliv klar til fremtiden sammen med CA</p>
        </div>
    </div>

    <div class="Studiementor">
        <div class="grid_1-1">
            <div class="col"> 
                <img src="/img/CA-LOGO.svg" alt="Logo">
            </div>
            <div class="col ">
                <h3>Studiementor</h3>
            </div>
        </div>
         <div class="text_indhold"> 
            <p>Få tilknyttet en studiepartner/mentor, mens du studerer. At starte på studie kan være lidt af en omvæltning fra gymnasietiden, derfor får du muligheden for at spare med en så du får den bedste studiestart og kommer godt igennem studiet.</p>
         </div>
    </div>

    <div class="Jobsøgningshjælp">
        <div class="grid_1-1">
            <div class="col"> 
                <img src="/img/CA-LOGO.svg" alt="Logo">
            </div>
            <div class="col ">
                <h3>Jobsøgningshjælp</h3>
            </div>
        </div>
        <div class="text_indhold"> 
            <p>Hvad skal man have med i sin første ansøgning/CV, hvilke kompetencer har du og hvordan får du formuleret din interesse for det job du søger? CA a-kasse hjælper dig til at finde dit fremtidige job, både mens du studerer og efter studiet. </p>
        </div>
    </div>

    <div class="Billig_studieforsikring">
        <div class="grid_1-1">
            <div class="col"> 
                <img src="/img/CA-LOGO.svg" alt="Logo">
            </div>
            <div class="col ">
                <h3>Billig studieforsikringb</h3>
            </div>
        </div>
        <div class="text_indhold"> 
            <p>Vores samarbejde med Gjensidige Forsikring giver vores medlemmer mulighed for gode billige forsikringer, så du er forsikret hvis ulykken er ude. </p>
        </div>
    </div>

    <div class="Juridisk_rådgivning_om_ansættelsesret">
        <div class="grid_1-1">
            <div class="col"> 
                <img src="/img/CA-LOGO.svg" alt="Logo">
            </div>
            <div class="col ">
                <h3>Tjek af ansættelseskontrakt og Juridisk rådgivning om ansættelsesret</h3>
            </div>
        </div>
    
        <div class="text_indhold"> 
            <p>Det vigtigt at få læst sin kontrakt igennem, især det med småt. Vores jurister står klar til at læse din kontrakt og sikre sig at dine ansættelses rettigheder bliver overholdt. </p>
        </div>
    </div>

    
</section>

<style>
    img{
        width:20px;
    }

    .grid_1-1{
        display: grid;
        grid-template-columns: 1fr 5fr;
    }

    .gratis_medlemskab{
        display: inline-block;
    }
</style>