---
import "../css/style.css";
import DropDownContent from "../components/DropDownContent.astro";
const data = await fetch("https://budndpaqiarxjitvfnfc.supabase.co/rest/v1/drop_down_menu_data",
    {
        method:"GET",
        headers: {
            apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1ZG5kcGFxaWFyeGppdHZmbmZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTk3OTI4ODQsImV4cCI6MjAxNTM2ODg4NH0.Zc12HGg5TiuCyq0CI93f3bS04-wqkHB4QPcenmYljuw"
        },
    }
).then(res=>res.json());
---

      <section class="drop_down_title_bar">
        {data.map(title=>{
            return <DropDownContent data={title}/>
        })}
      </section>

<style>

</style>










          