---
import "../css/style.css";
---

<article class="logo">
    <img src="/img/CA-LOGO.svg" alt="Logo">
    <span class=" hide_item">Your Career <br> Our Business</span>
</article>

<style>
    .logo{
        display: flex;
        gap:10px;
        align-items: center;
        font-size:25px;
    }

    img{
        width: 100px;
        cursor: pointer;
        
    }
</style>