---
import "../css/style.css";
import ContactInfo from "./ContactInfo.astro";
import DataPolitics from "./DataPolitics.astro";
import Phone from "./Phone.astro";
import FooterLogo from "./FooterLogo.astro";
import Socialmedia from "./Socialmedia.astro";
---

<div class="wrapper"> 
    <div class="footer">
        <ContactInfo/>
        <DataPolitics/>
        <Phone/>
    </div>
    <div class="flex_now">
        <!--CA LOGO -->
        <FooterLogo/>
        <!-- Trust pilot -->
        <img class="icons" id="trustpilot" src="/img/trustpilot_ca.svg" alt="Logo">
        <!-- Sociale medier -->
        <Socialmedia/>
    </div>
    <p class="copyright">@2023copyright</p>
</div>



<style>
    .wrapper{
        background-color: var( --tertiary-color);
        margin:-10px;
        padding-left:20px;
        padding-top: 20px;
        color: var(--additional-color2);
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .flex_now{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .copyright{
        font-size: 14px;
        text-align: start;
        padding-bottom: 5px;
    }

    p{
        cursor:pointer;
        font-size: 22px;
        margin:5px 0;
    }

    img{
        width: 50px;
        padding: 8px 0;
        cursor: pointer;
        
    }

    #trustpilot{
        width:230px;
    }
    .icons{
        justify-content: space-between;
        gap:10px;
    }



    @media screen and (min-width: 1000px){

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .flex_now{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .wrapper{
        gap: 30px;
    }

    .copyright{
        font-size: 14px;
        text-align: center;
    }

}
</style>

