---
import "../css/style.css";
---

<div class="header">
  <div class="logo">
    <img src="/img/CA-LOGO.svg" alt="Logo">
    <span class=" hide_item">Your Career <br> Our Business</span>
  </div>

  <div class="nav-section">
    <img  class="search icon" src="/img/searchbar_CA.svg" alt="">
    <p class="nav_bar_tekst hide_item">MENU</p>
    <img  class="menuBar icon " src="/img/menu_barCA.svg" alt="">
    <p class="nav_bar_tekst hide_item">EN</p>
    <button class="icon signUp hide_item">Sign Up</button>
    <button class="icon recommed hide_item">Recommend</button>
    <button class="icon login">Login</button>
  </div>
</div>

<style>
    .login{
        width: 100px;
        height: 200px;
        border: none;
        background-color: var(--tertiary-color);
        color:white;

    }
    .header {
      background-color: var(--additional-color2);
      color: #fff;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin:-10px;
    }

    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .logo img {
      width: 50px;
      height: 40px;
      margin-right: 10px;
    }

    .nav-section {
      display: flex;
      align-items: center;
    }

    .icon {
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 8px;
    height: 30px;
      
    }
    .hide_item{
        display: none;
    }
    .search, .menuBar, .language{
        width:30px;
    }
    #eng{
        display: inline-block;
        cursor: pointer;
    }
    .nav-section {
        margin-top: 6px;
        gap:15px;
        justify-content: space-between;
      }

   @media screen and (min-width: 1000px){
  .nav-section {
      justify-content: flex-end;
    }

    .hide_item{
       display: block;
    }
  
}      
  </style>
