---
import "../css/style.css";
---

<div class="header">
  <div class="logo">
    <img src="/img/CA-LOGO.svg" alt="Logo">
    <span class=" hide_item fontstyle">Your Career <br> Our Business</span>
  </div>

  <div class="nav-section">
    <img  class="search icon" src="/img/searchbar_CA.svg" alt="">
    <p class="nav_bar_tekst hide_item">MENU</p>
    <img  class="menuBar icon " src="/img/menu_barCA.svg" alt="">
    <p class="nav_bar_tekst hide_item">EN</p>

    <div class=" signUp hide_item">
      <p> Sign Up</p>
    </div>

    <div class=" recommed hide_item">
      <p>Recommend </p>
    </div>

    <div class=" grid_1-1 login">
      <div>
        <img src="/img/MitCA_ca_hvid.svg" alt="">
      </div>
     <div>
      <p>Mit CA </p> 
    </div>
    </div>
  </div>
</div>

<style>
    .login{
      width: 120px;
      border: none;
      background-color: var(--tertiary-color);
      color:white;
      margin-right: 10px;
      cursor: pointer;
      margin-bottom: 8px;
      height: 70px;
      margin:-11px -7px -3px 0px;
      padding-top: 12px;
    }

    img{
      height: 30px;
      margin: auto;
      display: block;
      margin-top: 10px;
    }
    .header {
      background-color: var(--additional-color2);
      
      padding: 10px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin:-10px;
    }

    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .logo img {
      width: 50px;
      height: 40px;
      margin-right: 10px;
    }

    .nav-section {
      display: flex;
      align-items: center;
    }

    .icon {
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 8px;
    height: 30px;
      
    }

    .nav_bar_tekst{
      cursor:pointer;
    }
    .hide_item{
        display: none;
    }
    .search, .menuBar, .language{
        width:30px;
    }
    #eng{
        display: inline-block;
        cursor: pointer;
    }
    .nav-section {
        margin-top: 6px;
        gap:15px;
        justify-content: space-between;
      }

      .recommed, .signUp{
        cursor:pointer;
        border-left: 1px black solid;
        border-right: 1px black solid;
        padding:0 8px;
      }

      .grid_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .fontstyle{
        font-family: "Nexa bold";
      }

   @media screen and (min-width: 1000px){
  .nav-section {
      justify-content: flex-end;
    }

    .hide_item{
       display: block;
    }
  
}      
  </style>
