* {
  box-sizing: border-box;
}

:root {
  /*primær farver*/
  --primary-color: #0094d6;
  --secondary-color: #0a79ae;
  --tertiary-color: #054674;
  --quaternary-color: #e6f1f7;

  /*bagrunds farve*/
  --background-color: #ffffff;

  /*accentfarver*/
  --accent-color: #d54141;
  --accent-color-light: #fbecec;

  /*suplerende farver*/
  --additional-color1: #4a4a4a;
  --additional-color2: #f1f1ed;
}

.header {
  display: flex;
  grid-template-columns: repeat(auto-fill, 100px);
}

.footer {
  display: flex;
}

h1,
h2,
.kampagne_info,
a {
  text-align: center;
}

h1 {
  font-size: 50px;
  color: var(--tertiary-color);
  font-family: "Nexa bold";
}

h2 {
  font-size: 30px;
  font-family: "Nexa regular";
}

h3 {
  font-size: 25px;
  font-family: "Nexa regular";
}

h4 {
  font-size: 20px;
  color: var(--tertiary-color);
  font-family: "Nexa regular";
}

p {
  font-size: 16px;
  font-family: "Nexa light";
}

body main {
  background-color: var(--background-color);
}

main {
  padding-top: 40px;
  padding-bottom: 20px;
}

@font-face {
  font-family: "Nexa regular";
  src: url("../../public/Fonts/nexa_regular.otf");
}

@font-face {
  font-family: "Nexa bold";
  src: url("../../public/Fonts/nexa_bold.otf");
}

@font-face {
  font-family: "Nexa light";
  src: url("../../public/Fonts/nexa_light.otf");
}

@media screen and (min-width: 1000px) {
  body {
    background-color: var(--additional-color2);
  }

  main {
    margin-left: 10%;
    background-color: var(--background-color);
  }
}
